li {
  list-style: none;
  text-align: left;
}

a {
  color: currentColor;
  align-content:space-around;
  display:inline-block;
  align-content: space-between;
}
.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

